@model UBSurvey.Models.UBSurveyEditInfo;
@{
    ViewData["Title"] = "Edit Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
}

<div id="container" > 
    
        <table class="table table-bordered text-center">
            <tr>
                <td class="info">서비스명</td>
                <td colspan="3" class="text-left">{{ channelName }}</td>
            </tr>
            <tr>
                <td class="info">제목</td>
                <td colspan="3"><input type="text" class="form-control" v-model="title" id="title" ></td>
            </tr>
            <tr>
                <td class="info" >배포기간</td>
                <td class="form-inline">
                    <input type="text" style="width:auto" class="form-control datepicker"  id="startDate" v-model="startDate"> ~
                    <input type="text" style="width:auto" class="form-control datepicker" id="endDate" v-model="endDate">
                </td>
                <td class="info" >마감인원</td>
                <td><input type="text" class="form-control " v-model="limitperson" v-on:keyup="onlyNumber" id="limitperson" ></td>
            </tr>
        </table>
        <hr>
        <div class="row">
            <div class="col-sm-10">
                <button class="btn btn-success" v-on:click="register" id="register" >{{surveyText}}</button>
                <button class="btn btn-info" v-on:click="preView" v-if="surveyJson != ''"  >미리보기</button>
            </div>
            <div class="col-sm-2 text-right">
            <button class="btn btn-primary " v-on:click="save" >저장</button>
            <button class="btn btn-danger " v-on:click="deletesurvey" v-if="ubSurveyID != ''">삭제</button>
            </div>
            
        </div>
        <form id="myform" name="myform" method="post" action="/edit/prev" target="popup_window">
            <input type="hidden" id="surveyJson" name="survey" value="" v-model="surveyJson">
        </form>
        <div>
            
        </div>        
</div>

<script type="text/javascript">
    var vue = new Vue({
        el: '#container',
        data : {
            title : '@Model.survey.Title',
            limitperson : '@Model.survey.LimitPersons',
            startDate : '@Model.survey.StartDate.ToString("yyyy-MM-dd")',
            endDate : '@Model.survey.EndDate.ToString("yyyy-MM-dd")',
            surveyJson : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyJson)) == null ? '' : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyJson)),
            surveyText : '설문등록',
            ubSurveyID : '@Model.survey._id',
            channelName : '@Model.ChannelName'

        },
        mounted : function(){
            $("#startDate").datepicker({
                dateFormat: "yy-mm-dd",
            });

            $("#endDate").datepicker(
                {
                dateFormat: "yy-mm-dd"
            });

            if(this.surveyJson != '')
                this.surveyText = "설문수정";
            else
                this.surveyText = "설문등록";
        },
        methods : {
            deletesurvey : function(){
                if(!confirm('해당 설문을 삭제 하시겠습니까?')){
                return;
                }

                var ubSurveyID = '@Model.survey._id';
                var surveyID = '@Model.survey.SurveyID';
                var channelID = '@Model.survey.ChannelID';

                $.ajax({ 
                    type : 'post',
                    url : '/api/UBSurvey/Delete',
                    contentType: 'application/json',
                    data : JSON.stringify({'id' : ubSurveyID }),
                    success : function (res) {
                        if(res.success)
                        {
                            $.ajax({
                            type : 'post',
                            url : '/api/survey/RemoveSurvey',
                            contentType: 'application/json',
                            data : JSON.stringify({'surveyID' : surveyID, 'channelID' : channelID}),
                            success : function (res) {
                                if(res.success)
                                {
                                    var url = '/home/index';
                                    $(location).attr('href',url);
                                } 
                            }, 
                            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                            }   
                            });
                        }
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });
            },
            save : function(){
                if($("#title").val() == '')
                    return alert('Title이 입력되지 않았습니다.');

                var surveyJson = $("#surveyJson").val();
                var sruveyObjID = '@Model.survey.SurveyID';

                if(surveyJson != '')
                {   
                    var data = {
                        _channelID : '@Model.survey.ChannelID',
                        Survey : JSON.parse(surveyJson),
                        _id : '@Model.survey.SurveyID'
                    }
                    var self = this;
                    $.ajax({
                        type : 'post',
                        url : '/api/survey/save',
                        contentType: 'application/json',
                        data : JSON.stringify(data),
                        success : function (res) {
                            if(res.success)
                            {
                                sruveyObjID = res.data._id   
                                self.saveUBSurvey(sruveyObjID);

                            }else{
                                alert(res.message);
                            }
                        }, 
                        error: function(XMLHttpRequest, textStatus, errorThrown) { 
                            alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                        }   
                    });
                }else
                {
                    this.saveUBSurvey(sruveyObjID);
                }
            },
            register: function(){
                    
                var param = '@Html.Raw(Model.UrlParameter)';
                var actionUrl = '@Html.Raw(@Url.Action("index","Edit"))' + param;
                
                var child = window.open(actionUrl,'_blank');
                if( child.opener == null)
                    child.opener = self;

            },
            onlyNumber : function(e){
                var obj = this;
                obj.limitperson = obj.limitperson.replace(/[^0-9]/g,"");
            },
            saveUBSurvey : function(sruveyObjID){
                
                var data = {
                                channelID : '@Model.survey.ChannelID',
                                _id : '@Model.survey._id',
                                SurveyID : sruveyObjID,
                                Title : $("#title").val(),
                                StartDate : $("#startDate").val(),
                                EndDate : $("#endDate").val(),
                                LimitPersons : $("#limitperson").val()
                            }
                $.ajax({
                    type : 'post',
                    url : '/api/UBSurvey/save',
                    contentType: 'application/json',
                    data : JSON.stringify(data),
                    success : function (res) {
                        if(res.success)
                        {
                            var url = '/home/List?channelid=' + '@Model.survey.ChannelID';
                            $(location).attr('href',url);
                        } 
                        else
                        {
                            alert(res.message);
                        }
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });
            },
            preView : function(){

                 window.open("", "popup_window", "width=1000, height=900, scrollbars=no");                
                $("#myform").submit();
            }
        }
    });

    function sendSurveyJson(val)
    {
        console.log(val);
        $("#surveyJson").val(val);
        if(val != '')
            $("#register").text("설문수정");
    }

</script>

