@model UBSurvey.Models.UBSurveyInfo;
@{
    ViewData["Title"] = "Edit Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
}


<div id="container" > 
    
        <table class="table table-bordered text-center">
            <tr>
                <td class="info">서비스명</td>
                <td colspan="3"><input type="text" class="form-control" ></td>
            </tr>
            <tr>
                <td class="info">제목</td>
                <td colspan="3"><input type="text" class="form-control" v-model="title" id="title" ></td>
            </tr>
            <tr>
                <td class="info" >배포기간</td>
                <td class="form-inline">
                    <input type="text" style="width:auto" class="form-control datepicker"  id="startDate" v-model="startDate"> ~
                    <input type="text" style="width:auto" class="form-control datepicker" id="endDate" v-model="endDate">
                </td>
                <td class="info" >마감인원</td>
                <td><input type="text" class="form-control " v-model="limitperson" v-on:keyup="onlyNumber" id="limitperson" ></td>
            </tr>
        </table>
        <div>
            <button class="btn btn-success" v-on:click="register"  >설문등록</button>
            <button class="btn btn-primary pull-right" v-on:click="save" >저장</button>
            <button class="btn btn-danger pull-right" v-on:click="deletesurvey">삭제</button>
        </div>
        <hr>
        <table class="table table-bordered text-center">
            <tr>
                <td class="info">URL</td>
                <td colspan="3" class="form-inline">
                        <input type="text" class="form-control">
                        <button class="btn btn-info pull-right ">복사</button>
                    </div>
                </td>

            </tr>
        </table>
</div>


<script type="text/javascript">
    var vue = new Vue({
        el: '#container',
        data : {
            title : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Title)),
            limitperson : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LimitPersons)),
            startDate : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.StartDate.ToString("yyyy-MM-dd"))),
            endDate : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.EndDate.ToString("yyyy-MM-dd")))
        },
        mounted : function(){


            $("#startDate").datepicker({
                dateFormat: "yy-mm-dd",
                
            });

            $("#endDate").datepicker(
                {
                dateFormat: "yy-mm-dd"
                
            });
        },
        methods : {
            deletesurvey : function(){
                if(!confirm('해당 설문을 삭제 하시겠습니까?')){
                return;
                }

                var ubSurveyID = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model._id));
                var surveyID = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyID));
                var channelID = '5a8fb4200ad8963fa4242cb2';

                $.ajax({ 
                    type : 'post',
                    url : '/api/UBSurvey/Delete',
                    contentType: 'application/json',
                    data : JSON.stringify({'id' : ubSurveyID }),
                    success : function (res) {
                        if(res.success)
                        {
                            $.ajax({
                            type : 'post',
                            url : '/api/survey/RemoveSurvey',
                            contentType: 'application/json',
                            data : JSON.stringify({'surveyID' : surveyID, 'channelID' : channelID}),
                            success : function (res) {
                                if(res.success)
                                {
                                    var url = '/home/index';
                                    $(location).attr('href',url);
                                } 
                            }, 
                            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                            }   
                            });
                        }
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });
            },
            save : function(){
                var t = $("#title").val();
                var s = $("#startDate").val();
                var e = $("#endDate").val();
                var l = $("#limitperson").val();

                var data = {
                    channelID : "5a8fb4200ad8963fa4242cb2",
                    _id : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model._id)),
                    SurveyID : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyID)),
                    Title : t,
                    StartDate : s,
                    EndDate : e,
                    LimitPersons : l
                }

                console.log(data);

                $.ajax({
                    type : 'post',
                    url : '/api/UBSurvey/save',
                    contentType: 'application/json',
                    data : JSON.stringify(data),
                    success : function (res) {
                        if(res.success)
                        {
                            var url = '/home/index';
                            $(location).attr('href',url);
                        } 
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });




            },
            register: function(){
                var ps = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyID));
                var pc = '5a8fb4200ad8963fa4242cb2';
                var pr = 'http://192.168.245.106:5000/Home/SurveyEditSave';

                var actionUrl = '@Html.Raw(@Url.Action("index","Edit"))' + '?surveyid=' + ps + '&channelid=' + pc + '&retUrl=' + pr;
                
                var child = window.open(actionUrl,'_blank');
                if( child.opener == null)
                    child.opener = self;

            },
            onlyNumber : function(e){
                var obj = this;
                obj.limitperson = obj.limitperson.replace(/[^0-9]/g,"");

            }
        }
        
        
         



    });

    function test(val)
        {
            alert(val);
        }

</script>

