@model UBSurvey.Models.UBSurveyEditInfo;
@{
    ViewData["Title"] = "Edit Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
}


<div id="container" > 
    
        <table class="table table-bordered text-center">
            <tr>
                <td class="info">서비스명</td>
                <td colspan="3"><input type="text" class="form-control" ></td>
            </tr>
            <tr>
                <td class="info">제목</td>
                <td colspan="3"><input type="text" class="form-control" v-model="title" id="title" ></td>
            </tr>
            <tr>
                <td class="info" >배포기간</td>
                <td class="form-inline">
                    <input type="text" style="width:auto" class="form-control datepicker"  id="startDate" v-model="startDate"> ~
                    <input type="text" style="width:auto" class="form-control datepicker" id="endDate" v-model="endDate">
                </td>
                <td class="info" >마감인원</td>
                <td><input type="text" class="form-control " v-model="limitperson" v-on:keyup="onlyNumber" id="limitperson" ></td>
            </tr>
        </table>
        <div>
            <button class="btn btn-success" v-on:click="register"  >설문등록</button>
            <button class="btn btn-primary pull-right" v-on:click="save" >저장</button>
            <button class="btn btn-danger pull-right" v-on:click="deletesurvey">삭제</button>
        </div>
        <div>
            <input type="hidden" id="surveyJson" value="" v-model="surveyJson">
        </div>
        <hr>
        <table class="table table-bordered text-center">
            <tr>
                <td class="info">URL</td>
                <td colspan="3" class="form-inline">
                        <input type="text" class="form-control">
                        <button class="btn btn-info pull-right ">복사</button>
                    </div>
                </td>

            </tr>
        </table>
</div>


<script type="text/javascript">
    var vue = new Vue({
        el: '#container',
        data : {
            title : '@Model.survey.Title',
            limitperson : '@Model.survey.LimitPersons',
            startDate : '@Model.survey.StartDate.ToString("yyyy-MM-dd")',
            endDate : '@Model.survey.EndDate.ToString("yyyy-MM-dd")',
            surveyJson : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyJson)) == null ? '' : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyJson))
        },
        mounted : function(){


            $("#startDate").datepicker({
                dateFormat: "yy-mm-dd",
                
            });

            $("#endDate").datepicker(
                {
                dateFormat: "yy-mm-dd"
                
            });
        },
        methods : {
            deletesurvey : function(){
                if(!confirm('해당 설문을 삭제 하시겠습니까?')){
                return;
                }

                var ubSurveyID = '@Model.survey._id';
                var surveyID = '@Model.survey.SurveyID';
                var channelID = '@Model.survey.ChannelID';

                $.ajax({ 
                    type : 'post',
                    url : '/api/UBSurvey/Delete',
                    contentType: 'application/json',
                    data : JSON.stringify({'id' : ubSurveyID }),
                    success : function (res) {
                        if(res.success)
                        {
                            $.ajax({
                            type : 'post',
                            url : '/api/survey/RemoveSurvey',
                            contentType: 'application/json',
                            data : JSON.stringify({'surveyID' : surveyID, 'channelID' : channelID}),
                            success : function (res) {
                                if(res.success)
                                {
                                    var url = '/home/index';
                                    $(location).attr('href',url);
                                } 
                            }, 
                            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                            }   
                            });
                        }
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });
            },
            save : function(){
                
                var sruveyJson = $("#surveyJson").val();
                

                

                var data2 = {
                    _channelID : '@Model.survey.ChannelID',
                    Survey : sruveyJson,
                    _id : '@Model.survey._id',
                }

                $.ajax({
                    type : 'post',
                    url : '/api/survey/save',
                    contentType: 'application/json',
                    data : JSON.stringify(data2),
                    success : function (res) {
                        if(res.success)
                        {
                            var data = {
                                channelID : '@Model.survey.ChannelID',
                                _id : '@Model.survey._id',
                                SurveyID : res.data._id,
                                Title : $("#title").val(),
                                StartDate : $("#startDate").val(),
                                EndDate : $("#endDate").val(),
                                LimitPersons : $("#limitperson").val()
                            }

                            $.ajax({
                                type : 'post',
                                url : '/api/UBSurvey/save',
                                contentType: 'application/json',
                                data : JSON.stringify(data),
                                success : function (res) {
                                    if(res.success)
                                    {
                                        alert(res);
                                        console.log('@Model.survey.SurveyID' );
                                    } 
                                }, 
                                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                                }   
                            });
                        } 
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });
                

                /*
                
                */
            },
            register: function(){
                    
                var param = '@Model.UrlParameter';
                var actionUrl = '@Html.Raw(@Url.Action("index","Edit"))' + param;
                
                var child = window.open(actionUrl,'_blank');
                if( child.opener == null)
                    child.opener = self;

            },
            onlyNumber : function(e){
                var obj = this;
                obj.limitperson = obj.limitperson.replace(/[^0-9]/g,"");

            }
        }
        
    });

    function sendSurveyJson(val)
    {
        $("#surveyJson").val(val);
    }

</script>

